<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Data Logger</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
                <li class="active"><a href="/">Home Page</a></li>
            {{else}}
                <li><a href="/">Home Page</a></li>
            {{/if}}
            {{#if isDataRender}}
                <li class="active"><a href="/courses">Courses</a></li>
            {{else}}
                <li><a href="/courses">Courses</a></li>
            {{/if}}
            {{#if isDataFiller}}
                <li class="active"><a href="/filler">Add Course</a></li>
            {{else}}
                <li><a href="/filler">Add Course</a></li>
            {{/if}}
            {{#if isBasket}}
                <li class="active"><a href="/basket">Basket</a></li>
            {{else}}
                <li><a href="/basket">Basket</a></li>
            {{/if}}
            {{#if isOrders}}
                <li class="active"><a href="/orders">Orders</a></li>
            {{else}}
                <li><a href="/orders">Orders</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
